<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ handle }} scored ${{ score }}" />
    <meta property="og:description" content="{{ handle }} scored ${{ score }} in a round of the TRADING SIMULATION." />
    <meta property="og:image" content="{{ profileImage }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@machinestates" />
    <meta name="twitter:title" content="{{ handle }} scored ${{ score }}" />
    <meta name="twitter:description" content="{{ handle }} scored ${{ score }} in a round of the TRADING SIMULATION." />
    <meta name="twitter:image" content="{{ profileImage }}" />
    
    <title>{{title}} | Machine States</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>
