    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">

      {{> silicon/navbar }}

      <!-- Page content -->
      <section class="container pt-5">
        <div class="row">
  
          <!-- Trader -->
          <aside class="col-lg-3 col-md-4 border-end pb-5 mt-n5">
            <div class="position-sticky top-0">
              <div class="text-center pt-5">
                <div class="d-table position-relative mx-auto mt-2 mt-lg-4 pt-5 mb-3">
                  <img src="{{ profileImage }}" alt="{{ handle }}" class="d-block rounded-circle" width="120">
                </div>
                <h2 class="h5 mb-3">{{ handle }}</h2>
                 <button type="button" class="btn btn-secondary w-100 d-md-none mt-n2 mb-3" data-bs-toggle="collapse" data-bs-target="#account-menu">
                  <i class="bx bxs-user fs-xl me-2"></i>
                  Trader stats
                  <i class="bx bx-chevron-down fs-lg ms-1"></i>
                </button>
                <div id="account-menu" class="list-group list-group-flush collapse d-md-block">
                  <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                    <i class="bx bx-money-withdraw fs-xl opacity-60 me-2"></i>
                    Total Earnings: {{ formattedTotalEarnings }}
                  </a>
                  <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                    <i class="bx bx-bar-chart-square fs-xl opacity-60 me-2"></i>
                    Rounds Completed: {{ totalRounds }}
                  </a>
                  <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                    <i class="bx bx-candles fs-xl opacity-60 me-2"></i>
                    Average Score: {{ averageScore }}
                  </a>
                </div>
              </div>
            </div>
          </aside>

          <!-- Story -->
          <div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
            <div class="ps-md-3 ps-lg-0 mt-md-2 py-md-4">
              <h1 class="h2 pt-xl-1" style="margin-bottom: 0;">{{ handle }}</h1>
              <h2 class="h5 text-primary mb-4">High Score on {{ formattedTime }}: {{ formattedScore }}</h2>
                            <!-- Audio player markup -->
              <div class="card p-lg-4 p-md-2 mb-4 mb-lg-5">
                <div class="audio-player card-body p-2 p-sm-4">
                  
                  <!-- Audio tag with the link to the audio file -->
                  <audio  src="{{ storyAudio }}" preload="auto"></audio>

                  <!-- Custom player markup -->
                  <button type="button" class="ap-play-button btn btn-icon btn-primary shadow-primary" aria-label="Play/pause"></button>
                  <span class="ap-current-time flex-shr fw-medium mx-3 mx-lg-4">0:00</span>
                  <input type="range" class="ap-seek-slider" max="100" value="0">
                  <span class="ap-duration flex-shr fw-medium mx-3 mx-lg-4">0:00</span>
                  <div class="dropup">
                    <button type="button" class="ap-volume-button btn btn-icon btn-secondary" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false" aria-label="Volume">
                      <i class="bx bx-volume-full"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-dark my-1">
                      <input type="range" class="ap-volume-slider" max="100" value="100">
                    </div>
                  </div>
                  <a href="{{ storyAudio }}" download="audio-sample" class="btn btn-icon btn-secondary ms-2" aria-label="Download">
                    <i class="bx bx-download"></i>
                  </a>
                </div>
              </div>
              <p>{{{ story }}}</p>
            </div>
          </div>
        </div>
      </section>
    </main>